{% extends "home/base.html" %}
{% block content %}

<h2>みんなの質問</h2>

{% if questions %}
    {% for question in questions %}

        <div style="
            background:white;
            padding:20px;
            margin-bottom:15px;
            border-radius:10px;
        ">

            <h3>
                <a href="{% url 'lesson_question_student_detail' question.id %}">
                    {{ question.title }}
                </a>
            </h3>

            <p><strong>科目：</strong>{{ question.get_category_display }}</p>

            {% if question.is_answered %}
                <span style="color:green;">
                    ✔ 回答済み
                </span>
            {% else %}
                <span style="color:orange;">
                    ⏳ 未回答
                </span>
            {% endif %}

        </div>

    {% endfor %}

{% else %}

    <p>まだ質問はありません。</p>

{% endif %}

{% endblock %}